*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background-color: #F0F4FF;
    color: #1E3A5F;
    height: 100vh;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    border: 2px solid #1E3A5F;
    border-radius: 20px;
   padding:  30px;
   margin: auto;
    margin-top: 1.5em;
    box-shadow: 1px 0.5px 5px #1E3A5F;
}


.contact-form-input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
}

input,textarea{
   margin-left: 10px;
   padding: 10px;
   border: 2px solid #2563EB;
   border-radius: 10px;
   margin-bottom:10px;
   width: 300px;
}
button{
    color: #fff;
    background-color: #2563EB;
    font-size: 1em;
    padding: 6px 3px;
    border: transparent;
    border-radius: 5px;
}

section h2,section h3{
    text-align: center; 
}

section h3,section h2{
    margin-top: 2em;
}


button:hover{
    background-color: #002b86;
}
