*{
    margin: 0;
    padding: 0;
}

body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            background: #f5f7fa;
        }

        h1 {
            text-align: center;
            margin: 30px 0;
        }

        /* Container des cartes */
        .project-card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        /* Carte projet */
        .project-card {
            background: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            transition: transform 0.2s;
            position: relative;
            
        }

        .project-card:hover {
            transform: translateY(-5px);
        }
        
        img{
            object-fit: cover;
            width: 100%;
            margin-top: 12px;
        }

        .project-title {
            color: #2563EB;
            margin-bottom: 10px;
        }

        .project-description {
            color: #64748B;
            font-size: 14px;
            margin-bottom: 15px;
        }

        .project-link {
            text-decoration: none;
            color: white;
            background: #2563EB;
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            width: 90%;
            display: flex;
            flex-direction: column;
            text-align: center;
        
        }
    
        .project-link:hover {
            opacity: 0.8;
        }